body {
    background-color: #242424;
    color: #FFFFFF;
}

.center {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr minmax(0, 8.5in) 1fr;
}

.center * {
    grid-column: 2/3;
}

.center-on-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blog-button {
    padding: 10px;
    border: 3px solid #242424;
    border-radius: 3px;
}

.email-button {
    padding: 10px;
    border: 3px solid #242424;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 400%;
    transform: translate(-50%, -400%);
}

.tag {
    display: inline-grid;
    font-size: 11px;
    padding: 1px 3px 1px 3px;
    border: 2px solid #242424;
    border-radius: 4px;
    margin-top: 2px;
}

.post {
    padding-bottom: 20px;
}

.post * {
    color: #FFFFFF;
}

.title {
    display: inline-grid;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 3px
}

.page-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 7px;
    text-align: center;
}

.back {
    font-size: 10px;
    display: inline-grid;
}

a:hover {
    color: #62a0ea;
    text-decoration: none;
}

img {
    max-width: 640px;
}