body {
    background-color: #242424;
    color: #FFFFFF;
}

.center {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr minmax(0, 8.5in) 1fr;
}

.center * {
    grid-column: 2/3;
}

.center-on-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blog-button {
    padding: 10px;
    border: 3px solid #242424;
    border-radius: 3px;
}

.email-button {
    padding: 10px;
    border: 3px solid #242424;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 400%;
    transform: translate(-50%, -400%);
}

.tag {
    display: inline-grid;
    font-size: 11px;
    padding: 1px 3px 1px 3px;
    margin-top: 2px;
}

.card {
  background-color: oklch(30% 0 280);
  box-shadow: 0 0 24px oklch(17.8% 0 0);
  border-radius: 10px;
  cursor: pointer;
  max-width: 768px;
  padding: 24px;
  margin: 25px;
  text-decoration: none;
}

.card { transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), box-shadow 0.3s ease-in-out; }

.card:hover { transform: scaleY(1.05) scaleX(1.05); box-shadow: 0 0 40px oklch(75.73% 0.1263 254.78); }

.card * {
    color: #FFFFFF;
}

.post {
    padding-bottom: 20px;
}

.post * {
    color: #FFFFFF;
}

.title {
    display: inline-grid;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 3px
}

.page-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 7px;
    text-align: center;
}

.back {
    font-size: 10px;
    display: inline-grid;
}

a:hover {
    color: #62a0ea;
    text-decoration: none;
}

img {
    max-width: 640px;
}

.admonition {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
  color: #c09853;
  background-color: #fcf8e3;
  border-top: 1px solid transparent;
  border-bottom: 25px solid transparent;
}

.admonition-title {
  font-weight: 700 !important;
}

.admonition.danger {
  color: #bb8483;
  background-color: #4c2a2a;
}

.image-caption {
  font-style: italic;
  font-size: 0.8em;
}
.colored {
  color: rgb(40, 100, 255);
}
.separator {
  margin: 0 4px;
}
