@import url('https://fonts.googleapis.com/css2?family=JetBrainsMono:wght@200;400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    line-height: 2;
    margin-bottom: 18px
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}

p {
    line-height: 1.5;
    margin-bottom: 8px;
}

ul {
    margin: 0.5em 0;
    padding: 0 0 0 1.5em;
}

ol {
    margin: 0.5em;
    padding: 0 0 0 1.7em;
}

a {
    color: #3584e4;
}

a:hover {
    color: #62a0ea;
    text-decoration: none;
}

blockquote {
    color:#BDBDBD;
    margin:0;
    padding-left: 1em;
    border-left: 0.5em #303030 solid;
}

code {
    background-color: #3A3A3A;
    color: #FFFFFF;
    padding: 1px 3px;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "JetBrains Mono";
 }
 pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 12px;
    border: 1px solid #303030;
    white-space: pre-wrap;
    word-wrap: break-word;
 }
 pre code {
    background-color: #3A3A3A;
    font-size: 14px;
    padding: 0;
 }
/* 
 kbd {
  display: inline-block;
  padding: 4px 8px;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  color: #333;
}
*/

kbd {
  display: inline-block;
  padding: 4px 8px;
  font-family: "JetBrains Mono";
  font-size: 14px;
  background-color: #292929;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #f0f0f0;
}
