@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrainsMono:wght@200;400;700&display=swap');
:root { font-family: "Barlow", sans-serif; }

body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}
